Android
Downloads
Music
Video
mac
projects
screens
snap
tmp
plugins
caches
.cache
system
.android
Cache
google-chrome
*.log
wrapper
.java
.m2
.nv
Dropbox
.vscode-oss
CachedData
.secret
.bundle
.AndroidStudio*/config/*
!.AndroidStudio*/config/options
.AndroidStudio*/config/options/*
!.AndroidStudio*/config/options/keymap.xml

.Idea*/config/*
!.Idea*/config/options
.Idea*/config/options/*
!.Idea*/config/options/keymap.xml

.atom
.config/*
!.config/qtile
!.config/ranger
!.config/systemd

.gradle/*
!.gradle/gradle.properties
!.gradle/init.gradle

.local
.npm-global
.npm
.rbenv
.gem
.visualvm

.dropbox
